*, html {
    margin: 0;
	padding:  0;
    box-sizing: border-box;
    font-family: fantasy;
}

html  {
    background: rgb(232, 230, 217);
}

/* style nav */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 6px 2%;
    background-color: #000000;
    position: fixed;
}

header h1 {
    display: flex;
    color: beige;
}

/* Style footer */

footer {
    background-color: black;
    width: 100%;
    position: relative;
    line-height: 2em;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 14px;
}

footer section p {
    display: flex;
    justify-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.562);
}

/* Style main */

div img {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0px;
    margin: 0;
    height: 400px;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
} 

body div button img {
    display: flex;
    height: 90px;
}

body div h2 {
    padding-bottom: 1em;
    text-align: start;
}

body div section h3 {
    padding-left: 1em;
}

/* Style div */


.buttoningredienten {
    padding-right: 5em;
    margin: 1em;
    padding: 10px;
}

.snijplank {
    display: block;
    height: 700px;
    padding-left: 17em;
    padding-top: 4em;
}

.container {
    display: flex;
    justify-content: space-between;
    padding-top: 5em;
    padding-right: 10em;
    padding: 4em;
}

.flex {
    display: flex;
}

.randombutton {
    padding: 1em;
    background-color: rgb(182, 114, 69);
    color: #ffffff;
    border-radius: 15px;
    height: 4em;
    position: relative;
    bottom: 1em;
    font-size: 16px;
}

.addpizzabodem {
    position: absolute;
    height: 550px;
    padding-left: 1em;
    padding-top: 4em;
    z-index: +1;
}

.addtomatensaus {
    position: absolute;
    height: 530px;
    padding-left: 3em;
    padding-top: 6em;
    z-index: +1;
}

.addsalami {
    position: absolute;
    height: 490px;
    padding-left: 3em;
    padding-top: 6em;
    z-index: +1;
}

.addolijven {
    position: absolute;
    height: 510px;
    padding-left: 3em;
    padding-top: 6em;
    z-index: +1;
}

.addpaprika {
    position: absolute;
    height: 530px;
    padding-left: 3em;
    padding-top: 6em;
    z-index: +1;
}

.addspinazie {
    position: absolute;
    height: 510px;
    padding-left: 3em;
    padding-top: 6em;
    z-index: +1;
}

.addtomaatjes {
    position: absolute;
    height: 510px;
    padding-left: 3em;
    padding-top: 6em;
    z-index: +1;
}

.addchampignons {
    position: absolute;
    height: 510px;
    padding-left: 3em;
    padding-top: 6em;
    z-index: +1;
}

.addkaas {
    position: absolute;
    height: 530px;
    padding-left: 3em;
    padding-top: 6em;
    z-index: +1;
}

.addui {
    position: absolute;
    height: 480px;
    padding-left: 3em;
    padding-top: 6em;
    z-index: +1;
}

